.jumbotron {
	background-color: red;
	color: black; 
}
.title  {
	background-color: red;
	color: black; 
	}
.precio {
	color: red;
	}
.btn {
	background-color: #979592; 
	color: black; 
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: red;
	margin-bottom: 0px
	margin-top: 10px
}
.card-compu {
	flex: 1 150px;
	padding: 2px 2px 2px 2px;
    margin-top: 10px;
   justify-content: space-between;  
}
